html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
}
#generic-error {
  font-family: sans-serif;
  left: 50%;
  margin-right: -50%;
  max-width: 350px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.ui-provider {
  height: 0;
}